
body {
    text-align: left;
    font-family: "Arial";
    font-size: 18px;
    background-color: #d0dee2;
    padding-left: 100px;
    padding-right: 100px;
}

img {
    float: left;
    max-width: 500px;
    max-height: 500px;
    padding-left: 200px;
}

h3 {
    padding-top: 30px;
}

ul {
    list-style-type: disc;
}