
body {
    text-align: center;
    font-family: "Arial";
    font-size: 18px;
    background-color: #d0dee2;
}

img {
    float: left;
    max-width: 500px;
    max-height: 500px;
    padding-left: 200px;
}
